[mysqld]
default-time-zone='+00:00'
innodb_file_per_table=true
innodb_file_format=barracuda
innodb_large_prefix=true
character_set_server=utf8mb4
collation-server=utf8mb4_general_ci
open_files_limit=5000
