[user]
	name = {{ .git.name }}
	email = {{ .git.email }}

[alias]
	co = checkout
	latest = for-each-ref --sort=committerdate refs/heads --format='%(committerdate:short) %(refname:short)'

[color]
	diff = auto
	status = auto
	branch = auto

[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore
	editor = micro
	autocrlf = input

[apply]
	whitespace = nowarn

[format]
  pretty = %Cred%h%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset%C(yellow)%d%Creset

[github]
	user = {{ .git.githubUser }}

[push]
  default = simple

[pull]
	rebase = true

[branch]
  autosetuprebase = always

[commit]
	verbose = true

[init]
	defaultBranch = main

[url "git@github.com:vend/"]
	insteadOf = https://github.com/vend/
{{- $gh := lookPath "gh" }}
{{- if $gh }}
[credential "https://github.com"]
	helper =
	helper = !{{ $gh }} auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{ $gh }} auth git-credential
{{- end }}
