'exception-reporting':
  'userId': '52af2c7a-91c1-9b16-1aeb-6dc5de77f840'
'release-notes':
  'viewedVersion': '0.67.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '8452acc0ada30eae855853f3f24428c3a4719151'
'editor':
  'fontSize': 12
  'normalizeIndentOnPaste': false
'core':
  'themes': [
    'atom-dark-ui'
    'tomorrow-night-eighties-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'tree-view':
  'hideIgnoredNames': true
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
